<p-dialog
  [contentStyle]="{ overflow: 'visible' }"
  header="Add Task"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '75%' }"
>
  <form [formGroup]="task_form" (ngSubmit)="add_task()">
    <div class="d-flex flex-lg-nowrap flex-wrap align-items-start gap-2 mt-5">
      <div class="col-12 col-lg-6">
        <label for="task_topic" class="fw-semibold">Task Topic</label>
        <input
          class="w-100"
          pInputText
          id="task_topic"
          formControlName="task_topic"
          autocomplete="off"
        />
        <div
          *ngIf="
            task_form.get('task_topic')?.touched &&
            task_form.get('task_topic')?.invalid
          "
        >
          <small
            class="warning-text"
            *ngIf="task_form.get('task_topic')?.errors"
            >Task Topic is required.</small
          >
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <label for="status" class="fw-semibold">Task Status</label>
        <p-dropdown
          appendTo="body"
          class="w-100"
          formControlName="status"
          [options]="status_values"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>
    <div class="d-flex flex-lg-nowrap flex-wrap align-items-center gap-2 mt-3">
      <div class="col-12 col-lg-6">
        <label for="created" class="fw-semibold">Start Date</label>
        <p-calendar
          appendTo="body"
          formControlName="created"
          [showIcon]="false"
        ></p-calendar>
      </div>
      <div class="col-12 col-lg-6">
        <label for="end_date" class="fw-semibold">End Date</label>
        <p-calendar
          appendTo="body"
          formControlName="end_date"
          [showIcon]="false"
        ></p-calendar>
      </div>
    </div>
    <div class="d-flex flex-lg-nowrap flex-wrap align-items-center gap-2 mt-3">
      <div class="col-12 col-lg-6">
        <label for="priority" class="fw-semibold">Task Priority</label>
        <p-dropdown
          appendTo="body"
          class="w-100"
          formControlName="priority"
          [options]="priorities_values"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>
    <div class="d-flex justify-content-end gap-2 mt-5 w-100 flex-wrap">
      <button type="button" class="secondary-btn" (click)="close_dialog()">
        Cancel
      </button>
      <button type="submit" class="primary-btn">Save</button>
    </div>
  </form>
  <p-toast></p-toast>
</p-dialog>
