.top-section {
    background-color: var(--blue-color);
    padding-bottom: 30px;
    height: 18rem !important;
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.custom-input-seacrh {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--light-blue);
    position: absolute;
    width: 100%;
    padding-inline-start: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

::placeholder {
    color: var(--light-blue)
}

input[type="text"].custom-input-search:focus {
    outline: none !important;
    border: none !important;
}

*:focus {
    outline: none;
}


.tasks-container {
    margin-top: -10rem;
    border-radius: 20px;
}

.active-item {
    color: var(--blue-color)
}

.inactive-item {
    color: var(--gray)
}

.inactive-item:hover {
    color: var(--blue-color)
}

#add-btn {
    background-color: var(--blue-color);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
}

#add-btn:hover {
    background-color: var(--darken-blue-color);
}

.priority-text {
    padding: 8px 25px;
    text-align: center;
    color: white;
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
}

.high-priority {
    background: var(--red)
}

.medium-priority {
    background: var(--yellow)
}

.low-priority {
    background: var(--secondary-light-blue)
}

.icon-container{
    border-radius: 5px;
    height: 30px;
    width: 30px;
    background: #F2F3F5 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
