<p-dialog
  header="Update Task"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '75%' }"
>
  <div class="d-flex flex-lg-nowrap flex-wrap align-items-center gap-2 mt-5">
    <div class="col-12 col-lg-6">
      <label for="username" class="fw-semibold">Task Topic</label>
      <input
        class="w-100"
        pInputText
        id="username"
        [(ngModel)]="task_object.task_topic"
        autocomplete="off"
      />
    </div>
    <div class="col-12 col-lg-6">
      <label for="task_status" class="fw-semibold">Task Status</label>
      <p-dropdown
        class="w-100"
        [(ngModel)]="task_object.status"
        [options]="status_values"
        optionLabel="name"
      ></p-dropdown>
    </div>
  </div>
  <div class="d-flex flex-lg-nowrap flex-wrap align-items-center gap-2 mt-3">
    <div class="col-12 col-lg-6">
      <label for="email" class="fw-semibold w-6rem">Start Date</label>
      <p-calendar [(ngModel)]="task_object.created" />
    </div>
    <div class="col-12 col-lg-6">
      <label for="email" class="fw-semibold w-6rem">End Date</label>
      <p-calendar [(ngModel)]="task_object.end_date" />
    </div>
  </div>
  <div class="d-flex flex-lg-nowrap flex-wrap align-items-center gap-2 mt-3">
    <div class="col-12 col-lg-6">
      <label for="task_status" class="fw-semibold">Task Priority</label>
      <p-dropdown
        class="w-100"
        [(ngModel)]="task_object.priority"
        [options]="priorities_values"
        optionLabel="name"
      ></p-dropdown>
    </div>
  </div>
  <div class="d-flex justify-content-end gap-2 mt-5 w-100">
    <button class="cancel-btn" (click)="close_dialog()">Cancel</button>
    <button class="primary-btn" (click)="update_task()">Save</button>
  </div>
</p-dialog>
