/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --light-blue: #6F90D8;
    --secondary-light-blue: #47BFFF;
    --blue-color: #0438A7;
    --darken-blue-color: #0b2c74;
    --dark-blue: #1F2937;
    --green: #2BC48A;
    --gray: #6B7280;
    --light-gray: #E1E3E4;
    --darken-light-gray: #b0b3b4;
    --lighter-gray: #ECECEC;
    --red: #FF554A;
    --darken-red: #da4339;
    --yellow: #FFD431;
}

body,
p,
h1,
h2,
h3,
h5,
h6 {
    font-family: 'Poppins', sans-serif !important;
}

.cursor-pointer {
    cursor: pointer;
}

.warning-text {
    color: red;
}

.p-checkbox .p-checkbox-box {
    background: #E9EBEC;
    border: none;
}

.p-checkbox .p-checkbox-box.p-highlight {
    background: white;
    border: none;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: var(--blue-color);
    font-size: 14px;
}

.p-datatable .p-datatable-thead>tr>th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    font-weight: 500;
    color: black;
    background: transparent;
}

.p-datatable {
    font-family: "Poppins", sans-serif;
}

.p-datatable .p-datatable-tbody>tr {
    background-color: transparent;
    color: black
}

.p-datatable .p-datatable-tbody>tr:hover {
    background-color: var(--green);
    color: white
}

.p-dialog {
    font-family: 'Poppins', sans-serif !important;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 500;
}

input,
p-calendar,
p-dropdown {
    display: block;
}

button {
    border: none;
}

.primary-btn {
    background: var(--blue-color);
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
}

.primary-btn:hover {
    background: var(--darken-blue-color);
}

.secondary-btn {
    background: var(--light-gray);
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
}

.secondary-btn:hover {
    background: var(--darken-light-gray);
}

.delete-btn {
    background: var(--red);
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
}

.delete-btn:hover {
    background: var(--darken-red);
}

/* Dark mode styles */
body.dark-mode {
    background-color: #17161f;
    color: #f8f9fa;
}

body.dark-mode .tasks-container {
    background-color: #2c2b34 !important;
}

body.dark-mode .active-item {
    color: white !important;
}

body.dark-mode .inactive-item {
    color: #9c9ca0;
}

body.dark-mode .inactive-item:hover {
    color: white !important;
}

body.dark-mode th,
body.dark-mode td {
    color: white !important;
}

body.dark-mode td .priority-text {
    color: #1F2937 !important;
}

body.dark-mode .p-datatable .p-datatable-thead>tr>th {
    border-color: #5f5f61 !important;
}

body.dark-mode .p-checkbox .p-checkbox-box {
    background: #5f5f61 !important;
}

body.dark-mode .p-checkbox .p-checkbox-box.p-highlight {
    background: #5f5f61 !important;
}

body.dark-mode .p-checkbox .p-checkbox-box .p-checkbox-icon {
    color: white;
}

body.dark-mode .p-dialog .p-dialog-content,
body.dark-mode .p-dialog .p-dialog-header {
    background: #2c2b34;
    border: none;
}

body.dark-mode label {
    color: white
}

body.dark-mode input.p-element,
body.dark-mode .p-dropdown {
    background-color: #5f5f61 !important;
    border: none;
}

body.dark-mode .p-dropdown .p-dropdown-trigger {
    color: #9c9ca0;
}

body.dark-mode .p-dropdown-items {
    background-color: #5f5f61;
    color: white;
}

body.dark-mode .p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover {
    background-color: #9c9ca0;
}

body.dark-mode .p-dropdown-panel .p-dropdown-items .p-dropdown-item {

    color: white;
}

body.dark-mode .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    background: #8c8d90;
}

.p-dropdown-items-wrapper {
    overflow: unset;
}

body.dark-mode .p-inputtext {
    color: white;
}

body.dark-mode .p-dialog .p-dialog-header {
    color: white;
    border-bottom: 1px solid #5f5f61 !important;
}

body.dark-mode th,
body.dark-mode td {
    color: white !important;
}

body.dark-mode .p-datepicker:not(.p-datepicker-inline) {
    background: #5f5f61;
}

body.dark-mode .p-datepicker table td.p-datepicker-today>span {
    background: #d1d5db;
    color: #4b5563;
}

body.dark-mode .p-datepicker .p-datepicker-header {
    color: white;
    background: #5f5f61 !important;
    border-bottom: 1px solid gray;
}

body.dark-mode span.p-ripple.p-element:hover {
    color: black;
}

body.dark-mode .p-datepicker .p-datepicker-header .p-datepicker-prev,
body.dark-mode .p-datepicker .p-datepicker-header .p-datepicker-next {
    color: #9c9ca0;
}

body.dark-mode button.p-datepicker-month.p-link,
body.dark-mode button.p-datepicker-year.p-link {
    color: white;
}

body.dark-mode .p-datepicker {
    margin-top: -100px !important;
}

body.dark-mode p.title,
body.dark-mode p.sm-text {
    color: white
}

body.dark-mode button.p-element.p-ripple.p-dialog-header-icon.p-dialog-header-close.p-link.p-button.p-component:hover {
    color: white;
    background: #4b4747;
}