<p-dialog
  id="confirm-delete-dialog"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img src="/assets/icons/delete-lg.svg" />
    <p class="title">Delete</p>
    <p class="sm-text">
      Deleting will remove all your information from our database
    </p>
  </div>
  <div class="d-flex justify-content-center gap-2 mt-5 w-100">
    <button class="delete-btn" (click)="delete_task()">Delete</button>
    <button class="secondary-btn" (click)="close_dialog()">Cancel</button>
  </div>
</p-dialog>
